<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Nombre <%= Chavalon.nombre %></h2>
    <h6>Edad <%= Chavalon.edad %> </h6>
    <h3><%= Chavalon.tiempo %> Años</h3>
    <h3 style="color: green;">Cobra <%= Chavalon.cobra %></h3>

</body>
</html>