<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%= perrazo.name %></h2>
    <h2><%= perrazo.age %></h2>
    <h2><%= perrazo.breed %></h2>
</body>
</html>